body {
  background-color: rgb(96, 192, 224);
  font-family: monospace;
}

h1 {
  font-size: 80px;
  color: lightblue;
  text-align: center;
}

#welcome {
  border: solid white;
  color: white;
}

#learn-more {
  text-align: center;
  border: solid white;
  color: white; 
}

img {
  margin-left: 400px;
  margin-right: 400px;
}